<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    <div class="container">

        <div class="row">
            <div class="col-md-12 mt-3">
                <h1>Users</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 mt-3">
                <table class="table table-striped">

                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">id</th>
                            <th scope="col">username</th>
                            <th scope="col">email</th>
                            <th scope="col">password</th>
                            <th scope="col">edit</th>
                            <th scope="col">delete</th>
                        </tr>
                    </thead>

                    {{#rows}}
                        <tr>
                            <td>{{id}}</td>
                            <td>{{username}}</td>
                            <td>{{email}}</td>
                            <td>{{password}}</td>
                            <td>
                                <form action="/users/delete/{{id}}" method="post">
                                    <button type="submit" class="btn btn-danger">delete</button>
                                </form>
                            </td>
                            <td>
                                <a href="/users/edit/{{id}}" class="btn btn-success">edit</a>
                            </td>
                        </tr>
                    {{/rows}}

                </table>
            </div>
        </div>


    </div>

</body>
</html>